* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#wrapper {
    padding: 50px;
    background-color: #083b4c;
}

h1 {
    margin-bottom: 30px;
    color:antiquewhite;
}

#container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.result {
    width: calc(10% - 14px);
    min-width: 80px;
    aspect-ratio: 1 / 1;
    padding: 5px;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    background-color: #1389b2;
}

.fizz {
    background-color: #0cd6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizz_buzz {
    background-color: #f0466f;
}



/* ***********
    DEBUG
*********** */
/* .result {
    border: solid 1px blueviolet;
} */